<div class="row col-12">
  <div class="col-4">
    <h5>Cuéntanos</h5>
    <h2>Un poco más.</h2>
    <label>
      Esto nos ayudará a saber cuál es la posición perfecta para que colabores con nosotros.
    </label>
  </div>
  <div class="col-8">
    <h1>Sobre ti</h1>
    <div class="mt-4">
      <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
        <h5 class="form-label mt-2">¿Cuáles son tus datos? *</h5>
        <div class="row d-flex justify-content-between mb-2">
          <div class="col-6">
            <label for="name" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ingresa tu(s) nombre(s)">

            <div class="form-label text-danger mt-2" *ngIf="userInfoForm.controls['name'].invalid &&
            (userInfoForm.controls['name'].dirty || userInfoForm.controls['name'].touched)">
              ¡El nombre ingresado no es válido!
            </div>
          </div>
          <div class="col-6">
            <label for="lastName" class="form-label">Apellido(s)</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Ingresa tu(s) apellidos(s)">

            <div class="form-label text-danger mt-2" *ngIf="userInfoForm.controls['lastName'].invalid &&
            (userInfoForm.controls['lastName'].dirty || userInfoForm.controls['lastName'].touched)">
              ¡El apellido ingresado no es válido!
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between mb-2">
          <div class="col-6">
            <label for="dateOfBirth" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="dateOfBirth"
              placeholder="Selecciona tu fecha de nacimiento">

            <div class="form-label text-danger mt-2" *ngIf="userInfoForm.controls['dateOfBirth'].invalid &&
            (userInfoForm.controls['dateOfBirth'].dirty || userInfoForm.controls['dateOfBirth'].touched)">
              ¡La fecha de nacimiento ingresada no es válida!
            </div>
          </div>
          <div class="col-6">
            <label for="educationLevel" class="form-label">Formación académica</label>
            <select class="form-select" formControlName="educationLevel">
              <option [ngValue]="0">Selecciona tu formación</option>
              <option *ngFor="let educationLevel of educationLevels" [ngValue]="educationLevel.id">
                {{ educationLevel.description }}
              </option>
            </select>

            <div class="form-label text-danger mt-2" *ngIf="userInfoForm.controls['educationLevel'].invalid &&
            (userInfoForm.controls['educationLevel'].dirty || userInfoForm.controls['educationLevel'].touched)">
              ¡La formación académica seleccionada no es válida!
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-between mt-3 mb-3">
          <h5 class="form-label mt-2">¿Cómo podemos contactarte? *</h5>
          <button type="button" class="btn btn-outline-info" (click)="openModal()">Agregar</button>
        </div>
        <div class="mt-2d-flex flex-column bd-highlight">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Vía</th>
                <th scope="col">Detalle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>

          <div class="form-label text-danger mt-2" *ngIf="displayContactInformationError">
            ¡Debe de agregar por lo menos una forma de contacto!
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button type="button" class="col-4 btn btn-outline-danger btn-lg" (click)="goBack()">Volver más tarde</button>
          <button type="submit" class="col-4 btn btn-outline-success btn-lg"
            [disabled]="!userInfoForm.valid">Iniciar</button>
        </div>
      </form>
    </div>
  </div>
</div>
