<div class="row col-12">
  <div class="col-6">
    <h5>Aquí</h5>
    <h2>Inicia tu camino.</h2>
    <label>
      ¡Únete! a los mas de 20 mil ciudadanos/as que han aplicado para formar parte de la más grande operación
      estadística del país.
    </label>
    <div class="mt-5 mt-5">
      <h5>
        ¿Ya te registraste?
      </h5>
      <a href="/user">Ver detalle</a>
    </div>

  </div>
  <div class="col-6">
    <h1>Registro</h1>
    <div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="identificationNumber" class="form-label">Documento de identificación *</label>
          <input type="text" class="form-control" formControlName="identificationNumber"
            placeholder="Ingresa tu número de cédula">

          <div class="form-label text-danger mt-2"
            *ngIf="registerForm.controls['identificationNumber'].invalid &&
            (registerForm.controls['identificationNumber'].dirty || registerForm.controls['identificationNumber'].touched)">
            ¡El número de cédula ingresado no es válido!
          </div>
        </div>
        <div class="alert alert-info" role="alert" *ngIf="displayInfoMessage">
          <p>
            No es posible continuar con el registro porque el documento ya se encuentra registrado en nuestro sistema.
          </p>
          <p>
            Para el ver el detalle de está solicitud haga click <a href="#" (click)="goToDetails()" >aquí</a>
            o también puede ver la socilicitud haciendo click en la opción "Ver detalle" que se encuentra en la parte
            inferior izquierda de la pantalla.
          </p>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-success btn-lg" [disabled]="!registerForm.valid">Iniciar</button>
        </div>
      </form>
    </div>
  </div>
</div>
